<div>
    <div *ngIf="currentDonor.id" class="edit-form">
      <h4>Donor</h4>
      <form>
        <div class="form-group">
          <label for="username">username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            [(ngModel)]="currentDonor.username"
            name="username"
          />
        </div>
        <div class="form-group">
          <label for="first_name">first_name</label>
          <input
            type="text"
            class="form-control"
            id="first_name"
            [(ngModel)]="currentDonor.first_name"
            name="first_name"
          />
        </div>

        <div class="form-group">
          <label for="last_name">last_name</label>
          <input
            type="text"
            class="form-control"
            id="last_name"
            [(ngModel)]="currentDonor.last_name"
            name="last_name"
          />
        </div>

        <div class="form-group">
          <label for="email">email</label>
          <input
            type="text"
            class="form-control"
            id="email"
            [(ngModel)]="currentDonor.email"
            name="email"
          />
        </div>
  
        <div class="form-group">
          <label><strong>Status:</strong></label>
          {{ currentDonor.is_active ? "Is_active" : "Pending" }}
        </div>
      </form>
  
      <button
        class="badge badge-primary mr-2"
        *ngIf="currentDonor.is_active"
        (click)="updateIs_active(false)"
      >
        UnPublish
      </button>
      <button
        *ngIf="!currentDonor.is_active"
        class="badge badge-primary mr-2"
        (click)="updateIs_active(true)"
      >
        Publish
      </button>
  
      <button class="badge badge-danger mr-2" (click)="deleteDonor()">
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateDonor()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentDonor.id">
      <br />
      <p>Cannot access this Donor...</p>
    </div>
  </div>